<?xml version="1.0"?>
<?define ProductVersion = "1.0.14"?>
<?define ProductUpgradeCode = "12345678-1587-0000-0000-111111111164"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product Id="*" UpgradeCode="$(var.ProductUpgradeCode)" 
            Name="PdfSearch" Version="$(var.ProductVersion)" Manufacturer="Marcin Barylski" Language="1033">
      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
	    <Icon Id="ProductIcon" SourceFile="..\Resources\Pictures\pdfsearch.ico"/>
      <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
      <Property Id="ARPHELPLINK" Value="http://tas.easyisp.pl"/>
      <Property Id="ARPURLINFOABOUT" Value="http://tas.easyisp.pl"/>
      <Property Id="ARPNOREPAIR" Value="1"/>
      <Property Id="ARPNOMODIFY" Value="1"/>
      <Upgrade Id="$(var.ProductUpgradeCode)">
         <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
         <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" 
                         Property="OLDERVERSIONBEINGUPGRADED"/>	  
      </Upgrade>
      <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>
	  
      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="PdfSearch">
               <Component Id="ApplicationFiles" Guid="12345678-1587-0064-0000-111111111112">
                  <File Id="ApplicationFile1" Source="../Output/bin/Release/PdfSearch.exe"/>
				  <File Id="ApplicationFile2" Source="../../itextsharp/itextsharp-dll-core/itextsharp.dll"/>
				  <File Id="ApplicationFile3" Source="../sources.zip"/>
				  <File Id="ApplicationFile4" Source="../../itextsharp/license.txt"/>
               </Component>
            </Directory>           
         </Directory>
		 
		 <Directory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuSubfolder" Name="PdfSearch">
               <Component Id="ApplicationShortcuts" Guid="12345678-1587-0064-0000-111111111113">
                  <Shortcut Id="ApplicationShortcut1" Name="PdfSearch" Description=".pdf Search" 
                            Target="[INSTALLDIR]PdfSearch.exe" WorkingDirectory="INSTALLDIR" Icon="ProductIcon"/>
                  <Shortcut Id="UninstallProduct"
                            Name="Uninstall PdfSearch"
                            Description="Uninstalls .pdf Search"
                            Target="[System64Folder]msiexec.exe"
                            Arguments="/x [ProductCode]"/>
                  <RegistryValue Root="HKCU" Key="Software\Marcin Barylski\PdfSearch" 
                            Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                  <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
               </Component>
            </Directory>
         </Directory>
      </Directory>
	  
	  <InstallExecuteSequence>
         <RemoveExistingProducts After="InstallValidate"/>
      </InstallExecuteSequence>

      <Feature Id="DefaultFeature" Level="1">
         <ComponentRef Id="ApplicationFiles"/>
		 <ComponentRef Id="ApplicationShortcuts"/>
      </Feature>
   </Product>
</Wix>